body {
        margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("OIP.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    text-align: center;
}

header {
    background: #000;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 24px;
}

nav {
    background: #ffffff;
    padding: 10px;
}

nav a {
    color: rgb(47, 0, 255);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
    color: #00cc66;
}

.section {
    margin: 25px auto;
    padding: 15px;
    width: 90%;
}

.products-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.product-card {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 150px;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

footer {
    background: #222;
    color: white;
    padding: 15px;
}

